.top_colection {
  padding-block: 236px 100px;
  .main_text {
    color: var(--text-grayblack);

    font-family: var(--font-Poppins);
    font-size: 45.04px;
    font-style: normal;
    font-weight: 600;
    line-height: 44.751px;
    text-align: center;
    margin-bottom: 90px;
  }
}
@media (max-width: 768px) {
  .top_colection {
    .main_text {
      font-size: 30px;
      line-height: 44.751px;
      margin-bottom: 40px;
    }
  }
}
