.dropmenu_wrap{
    position:absolute;
    top:-300%;
    background-color:#000;
    border: 2px solid #000;
    
    border-radius:10px;
    padding:15px;
    width:100%;
    border-bottom-left-radius: unset;
    border-bottom-right-radius:unset;
    border-bottom:unset;
    transition: 0.3s;
    .list_menu{
        list-style: none;
        li{
            color:var(--color-white)
        }
    }
    &:hover{
        background-color:var(--background-white);
        li{
            color:#000;
        }
    }
}