.user_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 23px;
  }
  &.cropped {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    .user_info {
      gap: 10px;
      .img {
        img {
          width: 48px !important;
          height: 48px !important;
        }
        &::after {
          top: -2px;
          bottom: 0;
          background-color: #23262f;
          color: var(--color-neutrals8);
        }
      }
      .text {
        .name {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 0px;
        }
        .nick {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
    .user_accomplish {
      display: none;
    }
  }
  .user_info {
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
    .img {
      position: relative;
      img {
        border-radius: 41.791px;
        width: 41px;
        height: 41px;
        border: 1px solid var(--color-white);
      }
      &::after {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        content: "1";
        width: 23px;
        height: 21px;
        bottom: -4px;
        right: -9px;
        background-color: var(--color-white);
        border-radius: 50%;
        color: var(--text-grayblack);
        text-align: center;
        font-family: var(--font-Poppins);
        font-size: 11.523px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.096px;
      }
    }
    .text {
      text-align: left;
      .name {
        color: var(--text-grayblack);

        font-family: var(--font-Poppins);
        font-size: 15.364px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
      }
      .nick {
        color: var(--text-disbluegray);

        font-family: var(--font-Poppins);
        font-size: 12.483px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
  .user_accomplish {
    text-align: right;
    span {
      font-family: var(--font-Poppins);
      font-size: 13.443px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    .positive {
      color: var(--color-green);
    }
    .negative {
      color: var(--color-red);
    }
  }
}
@media (max-width: 1280px) {
  .user_wrap {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    .user_info {
      gap: 9px;
      .img {
        img {
          border-radius: 27px;
          width: 27px;
          height: 27px;
        }
        &::after {
          bottom: -3px;
          right: -4px;
          width: 13px;
          height: 13px;
          font-size: 7.232px;
          line-height: 150%;
          letter-spacing: 0.06px;
        }
      }
      .text {
        .name {
          font-size: 9.642px;
          line-height: 140%;
        }
        .nick {
          font-size: 7.834px;
          line-height: 150%;
        }
      }
    }
    .user_accomplish {
      span {
        font-size: 8.437px;
        line-height: 150%;
      }
      .positive {
        color: var(--color-green);
      }
      .negative {
        color: var(--color-red);
      }
    }
    &.cropped {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      .user_info {
        gap: 7px;
        .img {
          img {
            width: 34px !important;
            height: 34px !important;
          }
          &::after {
            top: 0px;
            bottom: 0;
            right: -2px;
            background-color: #23262f;
            color: var(--color-neutrals8);
          }
        }
        .text {
          .name {
            font-size: 8.68px;
            line-height: 14.879px;
          }
          .nick {
            font-size: 7.44px;
            line-height: 12.4px;
          }
        }
      }
    }
  }
}
