.button {
  transition: 0.3s;
  text-align: center;
  border-radius: 11px;
  min-width:120px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  &.withSvg {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  &.small {
    padding: 13px;
    font-family: var(--font-Poppins);
    font-size: 14.115px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21.173px */
    letter-spacing: 0.118px;
  }
  &.medium {
    font-family: var(--font-Poppins);
    padding: 17px 22px;
    font-size: 16.271px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.163px;
    text-transform: uppercase;
  }
  &.large {
    padding: 19px 25px;
    font-family: var(--font-Outfit);
    font-size: 21.357px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.214px;
  }
  &.specificClassFollow {
    padding: 6px 13px;
    min-width: unset;
    text-transform: unset;
    border-radius: 6.965px;
    border: 2px solid var(--color-neutrals6);
    color: #23262f;
    text-align: center;
    font-family: var(--font-DmSans);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    background-color: transparent;
    transition: 0.5s;
    &:hover {
      color: #23262f;
      background-color: transparent;
    }
  }
  &.primary {
    background-color: #000;
    color: #fff;
    border: 1.5px solid #000;
    &:hover {
      color: #000;
      background-color: transparent;
      svg path{
        stroke:#000;
      }
    }
  }
  &.secondary {
    background-color: #fff;
    color: #000;
    &:hover {
      color: #fff;
      background-color: #000;
      svg path {
        fill: #fff;
      }
    }
  }
  &.outlined {
    background-color: transparent;
    border: 1.7px solid #000;
  }
  &.outlinedWhite {
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    &:hover{
      background-color: #fff;
      color: var(--text-grayblack);
    }
  }
  &.containedWhite {
    background-color: #fff;
    color: var(--text-grayblack);
    border: 2px solid #fff;
    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
  &.focus {
    color: #fff;
    background-color: #000;
  }
  &.focus svg path {
    fill: var(--color-white);
  }
  svg {
    pointer-events: none;
  }
}
@media (max-width: 1280px) {
  .button {
    color: #000;
    font-size: 11.501px;
    font-style: normal;
    font-weight: 600;
    line-height: 17.252px;
    padding: 12px 20px;
    min-width: unset;
  }
}
