.button {
  color: #000;
  font-size: 16px;
  font-family: var(--font-Poppins);
  min-width: 120px;
  font-weight: 500;
  transition: 0.3s;
  text-align: center;
  border-radius: 10px;
  padding-inline: 20px;
  border: 1.2px solid #000;
  text-transform: uppercase;
  background-color: transparent;
  position: relative;
  z-index: 2;
  &.clearWhite {
    min-width: unset;
    text-transform: unset;
    border-radius: 12.204px;
    border: 2.288px solid #fff;
    font-family: var(--font-Outfit);
    color: #fff;
    font-size: 21.357px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.214px;
    &:hover {
      color: var(--text-grayblack);
      background-color: #fff;
    }
  }
  &.filledWhite {
    min-width: unset;
    text-transform: unset;
    border-radius: 12.204px;
    border: 2.288px solid #fff;
    background-color: #fff;
    color: var(--text-grayblack);

    font-family: var(--font-Outfit);
    font-size: 21.357px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.214px;
    &:hover {
      color: #fff;
      background-color: transparent;
    }
  }
  &.follow {
    padding: 6px 13px;
    min-width: unset;
    text-transform: unset;
    border-radius: 6.965px;
    border: 2px solid var(--color-neutrals6);
    color: #23262f;
    text-align: center;
    font-family: var(--font-DmSans);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    background-color: transparent;
    transition: 0.5s;
    &:hover {
      color: #23262f;
      background-color: transparent;
    }
  }
  &.category {
    padding: 13px;
    display: flex;
    align-items: center;
    gap: 6px;
    min-width: 51px;
    justify-content: center;
    border: 2px solid #000;
  }
  &.category:hover svg path {
    fill: var(--color-white);
  }
  &.fullSize {
    width: 100%;
  }

  &.filled {
    color: #fff;
    background-color: #000;
  }

  &:hover {
    color: #fff;
    background-color: #000;

    &.filled {
      color: #000;
      background-color: #fff;
    }
    &.filled svg path {
      fill: #000;
    }
  }
  &.focus {
    color: #fff;
    background-color: #000;
  }
  &.focus svg path {
    fill: var(--color-white);
  }
  svg {
    pointer-events: none;
  }
  &.exploreMore {
    color: #fff;
    background-color: #000;
    padding: 18px 14px 18px 21px;
    font-size: 14.76px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.45px;
    text-transform: capitalize;
    display: flex;
    gap: 11px;
    align-items: center;
    max-width: 170px;
    border-radius: 11px;
    text-transform: capitalize;
    svg {
      pointer-events: unset;
      width: 22px;
      height: 22px;
    }
    &:hover {
      background-color: transparent;
      color: #000;
      svg path {
        stroke: #000;
      }
    }
  }
}
