.mobile_menu {
  width: 100%;
  height: 100%;
  list-style: none;
  a {
    color: #282828;

    font-family: var(--font-Inter);
    font-size: 17.829px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.743px;
    text-transform: uppercase;
    text-decoration: unset;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      background-color: #282828;
      color: #f9f9f9;
    }
  }
}
a {
  margin-top: 8px;
  text-decoration: unset;
  text-align: center;
  color: #282828;
  font-size: 12.801px;
  font-family: var(--font-Inter);
  font-style: normal;
  font-weight: 400;
  line-height: 19.913px;
  max-width: 354px;
}
.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 93px 96px;
  padding-top: 46px;
  margin-bottom: 111px;
  .logo_nav_wrap {
    display: flex;
    align-items: center;
    gap: 57px;
    .logo {
      cursor: pointer;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 53px;
    }

    .head_nav a {
      color: hsl(0 0% 0%/0.6);

      font-family: var(--font-Inter);
      font-size: 17.829px;
      font-style: normal;
      font-weight: 500;
      line-height: 26.743px;
      text-transform: uppercase;
      text-decoration: unset;
      cursor: pointer;
      transition: color 0.4s ease;
      transition: background 0.6s ease;

      background-image: linear-gradient(90deg, #000, #000);
      background-repeat: no-repeat;
      background-size: 0% 100%;
      background-clip: text;
      &:hover {
        background-size: 100% 100%;
      }
    }
  }
  .search_connectWallet {
    display: flex;
    gap: 30px;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    .burger {
      position: relative;
      &:before {
        content: "";
      }
      display: none;
      width: 31px;
      height: 2px;
      background-color: #282828;
    }
  }
}
@media (max-width: 1310px) {
  .header_wrap {
    .logo_nav_wrap {
      gap: 40px;
      ul {
        gap: 38px;
      }
    }
  }
}
@media (max-width: 1280px) {
  .header_wrap {
    padding-inline: 70px;
    margin-bottom: 83px;
    .logo_nav_wrap {
      .head_nav a {
        font-size: 12.679px;
        font-style: normal;
        font-weight: 500;
        line-height: 19.019px;
      }
    }
    .search_connectWallet {
      gap: 20px;
    }
  }
}
@media (max-width: 1080px) {
  .header_wrap {
    padding-inline: unset;
    margin-inline: 50px;
    padding-bottom: 38px;
    border-bottom: 1px solid #cbcbcb;
    .logo_nav_wrap {
      gap: 20px;
      ul {
        display: none;
      }
    }
    .search_connectWallet {
      gap: 18px;
      // .login {
      //   display: none;
      // }
      .searching {
        display: none;
        .search_input {
          padding: 12px 16px;
          font-size: 11.174px;
          font-style: normal;
          font-weight: 500;
          line-height: 117.5%;
          letter-spacing: -0.223px;
        }
        .search_label {
          font-size: 11.174px;
          font-style: normal;
          font-weight: 500;
          line-height: 117.5%;
          letter-spacing: -0.223px;
          gap: 18px;
          top: 12px;
          left: 16px;
          svg {
            max-width: 15px;
            max-height: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .header_wrap {
    margin-inline: 30px;
  }
}
