.weakly_top {
  background-color: #f1f1f1;
  padding-block: 70px 90px;
  position: relative;
  margin-bottom:200px;
  .main_text {
    color: var(--text-lightgray);
    width: 100%;
    text-align: center;
    font-family: var(--font-Poppins);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 26.916px;
  }
  .nft_wrap {
    overflow: auto;
    padding-block: 100px 114px;
    display: flex;
    gap: 40px;
  }
  .nft_wrap::-webkit-scrollbar {
    display: none;
  }
}
