.simpleSlider {
  .slick-slider.slick-initialized {
    .slick-track {
      display: flex;
      gap: 90px;
      padding-block: 100px 114px;
    }
  }
}
@media(max-width:1280px){
  .simpleSlider {
    .slick-slider.slick-initialized {
      .slick-track {
        gap:50px;
        padding-block: 70px 81px;
      }
    }
  }
}