.homepage_wrap {
  padding-bottom: 50px;
  .firstsection_wrap {
    display: flex;
    align-items: flex-start;
    text-align: left;
    gap: 48px;
    justify-content: space-between;
    padding-left: 98px;
  }
  .left_information {
    max-width: 567px;
    margin-right: auto;
    .top_text_line {
      display: flex;
      align-items: center;
      margin-bottom: 7px;
      gap: 12px;
      .line {
        width: 138.681px;
        height: 1px;
        opacity: 0.2;
        background-color: #201f1f;
      }
      span {
        display: none;
        color: #201f1f;

        font-family: var(--font-Poppins);
        font-size: 9.248px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 11.097px */
        letter-spacing: 1.233px;
      }
    }
    .main_text {
      color: var(--text-grayblack);

      font-family: var(--font-Poppins);
      font-size: 75px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -3px;
      text-transform: capitalize;
      margin-bottom: 16px;
    }
    .discription,
    .discription span {
      color: var(--text-gray);

      text-align: justify;
      font-family: var(--font-Inter);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      max-width: 499px;
    }
    .discription {
      margin-bottom: 45px;
    }
    .discription span {
      color: var(--text-grayblack);
      font-weight: 600;
    }
  }
  .explore_more {
    display: flex;
    align-items: center;
    gap: 23px;
    margin-bottom: 82px;
    .create_nft {
      padding-inline: 21px;
      background-color: transparent;
      border: 1.5px solid var(--color-black);
      color: var(--color-black);
    }
  }
  .achivments {
    display: flex;
    gap: 65px;

    .achive {
      max-width: 118px;
    }
    .achive_text {
      color: var(--text-grayblack);
      text-align: center;
      font-family: var(--font-PublicSans);
      font-size: 36.771px;
      font-style: normal;
      font-weight: 600;
      line-height: 45.964px;
    }
    .achive_discription {
      color: var(--text-lightestgray);

      text-align: center;
      font-family: var(--font-Inter);
      font-size: 12.257px;
      font-style: normal;
      font-weight: 500;
      line-height: 18.386px;
      text-align: left;
    }
  }
  .trustPilot {
    display: none;
    gap: 16px;
    align-items: flex-end;
    justify-content: center;
    .starts_review {
      display: flex;
      gap: 7px;
      align-items: center;
      .review {
        color: #334155;
        font-family: var(--font-PlusJakarta);
        font-size: 12.811px;
        font-style: normal;
        font-weight: 500;
        line-height: 19.216px;
      }
    }
  }
}
@media (max-width: 1280px) {
  .homepage_wrap {
    padding-bottom: unset;
    .firstsection_wrap {
      padding-left: 70px;
      gap: 34px;
    }
    .left_information {
      max-width: 403px;
      margin-right: auto;
      .main_text {
        font-size: 53.339px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -2.134px;
        margin-bottom: 11px;
      }
      .discription,
      .discription span {
        font-size: 12.801px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.913px;
        max-width: 354px;
      }
      .discription {
        margin-bottom: 31px;
      }
      .discription span {
        font-weight: 600;
      }
    }
    .explore_more {
      gap: 16px;
      margin-bottom: 19px;
      .create_nft {
        padding-inline: 14px;
      }
    }
    .achivments {
      gap: 46px;

      .achive {
        max-width: 84px;
      }
      .achive_text {
        font-size: 26.151px;
        font-style: normal;
        font-weight: 600;
        line-height: 32.689px;
      }
      .achive_discription {
        font-size: 8.717px;
        font-style: normal;
        font-weight: 500;
        line-height: 13.075px;
      }
    }
  }
}
@media (max-width: 1080px) {
  .homepage_wrap {
    .firstsection_wrap {
      padding: unset;
      flex-direction: column;
      justify-content: center;
      .left_information {
        margin: auto;
        text-align: center;
        .top_text_line {
          justify-content: center;
          .line {
            width: 33.292px;
          }
          span {
            display: block;
          }
        }
        .discription {
          margin: auto;
          margin-bottom: 42px;
          text-align: center;
        }
      }
      .explore_more {
        justify-content: center;
      }
      .achivments {
        display: none;
      }
      .trustPilot {
        display: flex;
      }
    }
  }
}
