.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 93px 96px;
  padding-top: 46px;
  margin-bottom: 111px;
  .logo_nav_wrap {
    display: flex;
    align-items: center;
    gap: 57px;
  }
  .logo_nav_wrap {
    .logo {
      cursor: pointer;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 53px;
    }

    .head_nav a {
      color: #606060;

      font-family: var(--font-Inter);
      font-size: 17.829px;
      font-style: normal;
      font-weight: 500;
      line-height: 26.743px;
      text-transform: uppercase;
      text-decoration: unset;
      cursor: pointer;
    }
  }

  .search_connectWallet {
    display: flex;
    gap: 30px;
    flex-grow: 1;
    justify-content: flex-end;
    button {
      padding-block: 16px !important;
    }
    .searching {
      position: relative;
      max-width: 348px;
      width: 100%;
      .search_input {
        padding: 21px 22px;
        background-color: var(--background-gray);
        border-radius: 16px;
        width: 100%;
        border: unset;
        cursor: pointer;

        color: #c2c3cb;
        font-family: var(--font-Poppins);
        font-size: 15.711px;
        font-style: normal;
        font-weight: 500;
        line-height: 117.5%;
        letter-spacing: -0.314px;
      }
      .search_input:active,
      .search_input:focus,
      .search_input:not(:placeholder-shown) {
        outline: none;
      }
      .search_input:active + .search_label,
      .search_input:focus + .search_label,
      .search_input:not(:placeholder-shown) + .search_label {
        display: none;
      }
      .search_label {
        display: flex;
        align-items: center;
        gap: 25px;
        position: absolute;
        top: 18px;
        left: 22px;

        color: #c2c3cb;
        font-family: var(--font-Poppins);
        font-size: 15.711px;
        font-style: normal;
        font-weight: 500;
        line-height: 117.5%;
        letter-spacing: -0.314px;
        pointer-events: none;
        svg {
          flex-shrink: 0;
        }
      }
      .connect_wallet {
        padding: 16px 24px;
        background-color: var(--text-grayblack);
        border-radius: 16px;
        border: unset;

        color: #fff;
        font-family: var(--font-Inter);
        font-size: 16.172px;
        font-style: normal;
        font-weight: 600;
        line-height: 24.258px; /* 150% */
        text-transform: uppercase;
      }
    }
  }
}
