.custom-slider-container {
  .slick-slider.slick-initialized {
    will-change: transform;
    transform: translate(0px, -60px);

    .slick-list {
      padding: 60px;
      padding-bottom: 50px;
      margin-left: 20px;
    }
  }
  .slick-slide {
    .slides {
      z-index: 2;
      min-height: 560px;
      cursor: pointer;
    }
    .imgs {
      will-change: transform;
      transform: translate(-45%, 60%);
      transition: transform 0.5s;
      max-width: 320px;
    }
    .bloor {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 12px;
      max-height: 322px;
      filter: blur(27px);
      z-index: -1;
      margin-top: 23px;
    }
    .main-img {
      border-radius: 23px;
    }
  }
  .slick-slide.slick-active.slick-current {
    .slides {
      .imgs {
        margin-left: 4%;
        max-width: 394px;
        transform: translate(70px, 0%);
      }
      .bloor {
        max-height: 390px;
      }
    }
  }
}
@media (max-width: 1370px) {
  .custom-slider-container {
    .slick-slider.slick-initialized {
      .slick-list {
        padding: 90px;
        padding-top: 60px;
        padding-bottom: 50px;
        margin-left: 0px;
      }
    }
    .slick-slide {
      .slides {
        min-height: 390px;
      }
      .imgs {
        max-width: 226px;
      }
      .bloor {
        max-height: 230px;
      }
    }
    .slick-slide.slick-active.slick-current {
      .slides {
        .imgs {
          max-width: 278px;
          transform: translate(20px, 0%);
        }
        .bloor {
          max-height: 280px;
        }
      }
    }
  }
}
@media (max-width: 578px) {
  .custom-slider-container {
    .slick-slider.slick-initialized {
      .slick-list {
        padding: 60px;
        padding-top: 60px;
        padding-bottom: 50px;
        margin-left: 0px;
      }
    }
    .slick-slide {
      .slides {
        min-height: 295px;

        .imgs {
          transform: translate(-30%, 60%);
          max-width: 170px;
        }
        .bloor {
          max-height: 171px;
        }
      }
    }
    .slick-slide.slick-active.slick-current {
      .slides {
        .imgs {
          max-width: 208px;
          transform: translate(30px, 0%);
        }
        .main-img {
          max-height: 210px;
        }
        .bloor {
          max-height: 210px;
        }
      }
    }
  }
}
