.loading_screen {
  width: 100%;
  height: 80dvh;
  background-image: url(../../../public/images/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
}
.table_container {
  max-width: 1247px;
  width: 100%;
  margin: auto;
  .rightPaginationButton,
  .leftPaginationButton {
    background-color: unset;
    border: none;
    svg {
      width: 25px;
      height: 20px;
      flex-shrink: 0;
      path {
        transition: all 0.2s ease;
      }
    }
    &:hover {
      svg {
        path {
          fill: var(--text-b9gray);
        }
      }
    }
  }
  .rightPaginationButton {
    position: absolute;
    left: 0px;
  }
  .leftPaginationButton {
    position: absolute;
    right: 0px;
  }
  .cryptocurrency_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .filter_icon {
      padding: 10px;
      background-color: var(--color-neutrals8);
      border: unset;
      border-radius: 10px;
      box-shadow: 0px 13px 48px -11px rgb(15, 15, 15);
      width: unset;
      z-index: 2;
      transition: all 0.5s ease-in;
      position: relative;
      display: flex;
      svg {
        width: 25px;
        height: 25px;
        pointer-events: none;
      }
    }
    .sortByButton {
      padding: 10px;
      background-color: var(--color-neutrals8);
      border: unset;
      border-radius: 10px;
      width: unset;
      z-index: 2;
      transition: all 0.5s ease-in;
      box-shadow: 0px 15px 48px -13px rgb(15, 15, 15);
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      span {
        color: var(--color-blueblack);
        font-family: var(--font-Poppins);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        pointer-events: none;
      }
      svg {
        width: 25px;
        height: 25px;
        pointer-events: none;
      }
    }
  }
  .table_wrap {
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .table {
      width: 100%;
      margin-block: 20px;
      position: relative;
      tr {
        a{
          text-decoration: none;
        }
        th {
          color: #93989a;

          font-family: var(--font-Poppins);
          font-size: 22px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%;
          letter-spacing: 0.22px;
          text-align: center;
          padding-bottom: 33px;
        }
        th:first-child {
          width: 370px;
          text-align: left;
        }
        th:last-child {
          text-align: right;
        }
        &:first-child {
          th {
            padding-bottom: 0px;
          }
        }
      }
      .coin_field {
        td:first-child {
          padding-top: 33px !important;
        }
        .coins {
          display: flex;
          gap: 23px;
          align-items: center;
          max-width: 370px;
          width: 100%;
          text-align: left;
          img {
            width: 65px;
            height: 65px;
            flex-shrink: 0;
          }
          .coin_info {
            text-align: left;
            .coin_code {
              color: var(--text-grayblack);

              font-family: var(--font-Poppins);
              font-size: 28.015px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
            }
            .coin_name {
              color: var(--text-disbluegray);
              font-family: var(--font-Poppins);
              font-size: 22.762px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
            }
          }
        }

        td {
          text-align: center;
          padding-block: 23px 27px !important;
          border-bottom: 1.2px solid #ebe9e9;

          span {
            color: #010101;
            font-family: var(--font-Poppins);
            font-size: 24.513px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0.245px;
          }
          .price_down {
            color: #010101;
            font-family: var(--font-Poppins);
            font-size: 24.513px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 31.867px */
            letter-spacing: 0.245px;
            animation: goDown 2s linear forwards infinite;
          }
          @keyframes goDown {
            0% {
              color: #010101;
            }
            50% {
              color: red;
            }
            100% {
              color: #010101;
            }
          }
          .price_up {
            color: #010101;
            font-family: var(--font-Poppins);
            font-size: 24.513px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0.245px;
            animation: goUp 2s linear forwards infinite;
          }
          @keyframes goUp {
            0% {
              color: #010101;
            }
            50% {
              color: green;
            }
            100% {
              color: #010101;
            }
          }
          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .table_container {
    max-width: 886px;
    .table_wrap {
      .table {
        tr {
          th {
            font-size: 15.646px;
            line-height: 130%;
            letter-spacing: 0.156px;
          }
          th:first-child {
            max-width: 323px;
            text-align: left;
          }
        }
        .coin_field {
          td:first-child {
            padding-top: 33px !important;
          }
          .coins {
            gap: 16px;
            max-width: 323px;
            img {
              width: 59.77px;
              height: 59.77px;
            }
            .coin_info {
              text-align: left;
              .coin_code {
                font-size: 19.923px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
              }
              .coin_name {
                font-size: 16.188px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
              }
            }
          }

          td {
            padding-block: 13px 12px !important;

            .otherInfo {
              font-size: 17.433px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
            }
            .price_up,
            .price_down {
              font-size: 17.433px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1080px) {
  .table_container {
    padding-inline: 29px;
  }
}
@media (max-width: 768px) {
  .table_container {
    padding-inline: 10px;
    .table_wrap {
      .table {
        tr {
          #marketCapHead {
            display: none;
          }
        }
        .coin_field {
          td:first-child {
            padding-top: 10px !important;
          }
          #marketCupVolume {
            display: none;
          }
        }
      }
    }
  }
}
