.table {
  max-width: 1247px;
  width: 100%;
  tr {
    th {
      color: #93989a;

      font-family: var(--font-Poppins);
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 0.22px;
      text-align: center;
      padding-bottom: 33px;
    }
    th:first-child {
      width: 370px;
      text-align: left;
    }
    th:last-child {
      text-align: right;
    }
    &:first-child {
      th {
        padding-bottom: 0px;
      }
    }
  }
  .userField {
    td:first-child {
      padding-top: 33px !important;
    }
    .user_fio {
      display: flex;
      gap: 23px;
      align-items: center;
      max-width: 370px;
      width: 100%;
      text-align: left;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        flex-shrink: 0;
      }
      .fio {
        text-align: left;
        .name {
            color: var(--text-grayblack);

            font-family: var(--font-Poppins);
            font-size: 19.923px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
        }
        .nick {
          color: var(--text-disbluegray);
          font-family: var(--font-Poppins);
          font-size: 16.188px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }

    td {
      text-align: center;
      padding-block: 23px 27px !important;
      border-bottom: 1px solid #ebe9e9;

      .profitNumbers {
        color: #010101;
        font-family: var(--font-Poppins);
        font-size: 16.822px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.168px;
      }
      .profitNumbers_profit{
        color: var(--color-green);
        font-family: var(--font-Poppins);
        font-size: 17.433px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.174px;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}
