.noFound {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  .main_text {
    color: #141416;

    font-family: var(--font-Poppins);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 26.916px;
  }
  a {
    text-decoration: none;
    padding-bottom:1px;
    border-bottom:2px solid #141416;
    color: #c5c5c5;
    font-family: var(--font-Inter);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    transition: 0.3s;
    &:hover {
        border-bottom-color: #c5c5c5;
        color:#141416
    }
  }
}
