@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@400;500;600&family=Manrope:wght@600&family=Outfit:wght@600&family=Plus+Jakarta+Sans:wght@500&family=Poppins:wght@400;500;600;700&family=Public+Sans:wght@600&display=swap");
:root {
  --font-Inter: "Inter", sans-serif;
  --font-Manrope: "Manrope", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-PublicSans: "Public Sans", sans-serif;
  --font-DmSans: "DM Sans", sans-serif;
  --font-Outfit: "Outfit", sans-serif;
  --font-PlusJakarta: "Plus Jakarta Sans", sans-serif;
  --text-grayblack: #141416;
  --color-blueblack: #12141d;
  --color-black: #000;
  --color-white: #fff;
  --color-gray94: #949494;
  --color-neutrals77: #777e90;
  --color-neutrals8: #fcfcfd;
  --color-neutrals6: #e6e8ec;
  --background-gray: #ededed;
  --background-white: #f9f9f9;
  --color-grayscale: #1a202c;
  --text-bluegray: #94a3b8;
  --text-gray: #676767;
  --text-darkgray: #606060;
  --text-lightestgray: #848586;
  --text-lightgray: #c5c5c5;
  --text-disbluegray: #64748b;
  --text-d4gray: #d4d4d4;
  --text-b9gray: #b9b9b9;
  --color-red: #e23333;
  --color-green: #10c352;
}
body {
  margin: auto;
  scroll-behavior: smooth;
  background-color: var(--background-white);
}
body::-webkit-scrollbar {
  width: 0;
}
.scroll-animation {
  transition: scroll-behavior 0.5s ease-in-out;
}
.disable-scroll-page {
  overflow: hidden;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}
button,
svg,
li {
  cursor: pointer;
}
.main-page {
  background-color: #f9f9f9;
  padding-bottom: 143px;
}
