.marketplace {
  padding-inline: 70px 70px;
  margin-bottom: 120px;
  .main_text {
    color: var(--text-grayblack);

    font-family: var(--font-Poppins);
    font-size: 32.003px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.142px;
    text-align: center;
    margin-bottom: 46px;
  }
  .markeplace_nav {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 71px;
    position: relative;
    button {
      min-width: 51px;
      border: 2.2px solid #000;
      // font-family: var(--font-Manrope);
      font-weight: 500;
    }
  }
  .productWrap {
    gap: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    border-bottom: 1px solid #cbcbcb;
  }
}
