.slider_container {
  max-width: 800px;
  position: relative;
  .switcher_wrap {
    position: absolute;
    bottom: 19%;
    left: 22%;
  }
  .arrow {
    position: absolute;
    right: 22%;
    top: 8%;
  }
  .slider_dots {
    max-width: 173px;
    max-height: 192.224px;
    flex-shrink: 0;
    position: absolute;
    top: -20px;
    right: 0;
  }
}
@media (max-width: 1370px) {
  .slider_container {
    max-width: 554px;
    position: relative;
    .switcher_wrap {
      bottom: 22%;
      left: 20%;
    }
    .arrow {
      max-height: 91px;
      max-width: 91px;
    }
    .slider_dots {
      max-width: 123.036px;
      max-height: 136.71px;
      flex-shrink: 0;
      position: absolute;
      top: -5px;
      right: 0;
    }
  }
}
@media (max-width: 1080px) {
  .slider_container {
    margin-left: auto;
  }
}
@media (max-width: 578px) {
  .slider_container {
    max-width: 375px;
    .switcher_wrap {
      left: 19%;
    }
    .arrow {
      right:19%;
      max-height: 58px;
      max-width: 58px;
    }
    .slider_dots{
      display: none;
    }
  }
}
