.back_block {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #0000000f;
  z-index: 1;
  cursor: pointer;
}
.searching {
  position: relative;
  max-width: 348px;
  width: 100%;
  .searchingResultMenu {
    position: absolute;
    background-color: var(--color-neutrals8);
    box-shadow: 17.561px 55.561px 61.057px 0px rgba(0, 0, 0, 0.12);
    padding: 13.5px 12px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 1090;
    top: 75%;
    list-style: none;
    width: 100%;
    .resultCoins {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 7px;
      }
      &:hover {
        .coins {
          img {
            width: 45px;
            height: 45px;
          }
          .coins_info {
            .coin_code {
              font-size: 17.015px;
            }
            .coin_name {
              font-size: 15.015px;
            }
          }
        }
        .price_down {
          font-size: 17.015px;
        }
        .price_up {
          font-size: 17.015px;
        }
      }
      .coins {
        display: flex;
        gap: 10px;
        align-items: center;
        img {
          width: 35px;
          height: 35px;
          flex-shrink: 0;
          transition: all 0.2s ease-in;
        }
        .coins_info {
          .coin_code {
            color: var(--text-grayblack);

            font-family: var(--font-Poppins);
            font-size: 15.015px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            transition: all 0.2s ease-in;
          }
          .coin_name {
            color: var(--text-disbluegray);
            font-family: var(--font-Poppins);
            font-size: 12.015px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            transition: all 0.2s ease-in;
          }
        }
      }
      .price_down {
        color: #010101;
        font-family: var(--font-Poppins);
        font-size: 15.513px;
        font-style: normal;
        font-weight: 500;
        transition: all 0.2s ease-in;
        animation: goDown 2s linear forwards infinite;
      }
      @keyframes goDown {
        0% {
          color: #010101;
        }
        50% {
          color: red;
        }
        100% {
          color: #010101;
        }
      }
      .price_up {
        color: #010101;
        font-family: var(--font-Poppins);
        font-size: 12.513px;
        font-style: normal;
        font-weight: 500;
        transition: all 0.3s ease-in;
        animation: goUp 2s linear forwards infinite;
      }
    }
  }
  button {
    padding-block: 16px !important;
  }
  .search_input {
    padding: 13.5px 15px;
    background-color: var(--color-neutrals8);
    box-shadow: 17.561px 17.561px 61.057px 0px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    width: 100%;
    border: unset;
    cursor: pointer;

    color: #000;
    font-family: var(--font-Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 117.5%;
    letter-spacing: -0.314px;
    position: relative;
    z-index: 3;
  }
  .search_input:active,
  .search_input:focus,
  .search_input:not(:placeholder-shown) {
    outline: none;
  }
  .search_input:active + .search_label,
  .search_input:focus + .search_label,
  .search_input:not(:placeholder-shown) + .search_label {
    display: none;
  }
  .search_label {
    position: absolute;
    top: 9px;
    left: 15px;

    color: #000;
    font-family: var(--font-Poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    pointer-events: none;
    z-index: 4;
    svg {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      path {
        stroke: #000;
      }
    }
  }
}
@media(max-width:768px){
  .searching {
    max-width:220px;
    .search_label {
      top:7px;
    }
  }
}