.sixthSection_container {
  padding-inline: 97px;
  margin-bottom: 160px;
  .sixSection_wrap {
    max-width: 1245px;
    width: 100%;
    margin: auto;
    padding-block: 31px;
    padding-inline: 66px 22px;
    background-color: var(--text-grayblack);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left_block {
    .title {
      color: #fff;
      font-family: var(--font-Poppins);
      font-size: 45px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: 0.45px;
      margin-bottom: 12px;
    }
    .disc {
      color: #d4d4d4;

      font-family: var(--font-Poppins);
      font-size: 20.265px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 0.203px;
      margin-bottom: 50px;
    }
    .buttons {
      display: flex;
      gap: 30px;
      button {
        text-transform: unset;
      }
    }
  }
}
@media (max-width: 1280px) {
  .sixthSection_container {
    padding-inline: 70px;
    margin-bottom: 190px;
    .sixSection_wrap {
      max-width: 885px;
      padding-block: 22px;
      padding-inline: 46px 22px;
      border-radius: 21px;
      .left_block {
        .title {
          font-size: 32px;
          line-height: 130%;
          letter-spacing: 0.32px;
          margin-bottom: 8px;
        }
        .disc {
          font-size: 14px;
          line-height: 130%;
          letter-spacing: 0.14px;
          margin-bottom: 35px;
        }
        .buttons {
          gap: 21px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .sixthSection_container {
    padding-inline: 50px;
    .sixSection_wrap {
      gap: 20px;
      max-height:300px;
      padding-inline:40px;
      flex-direction: column;

      .left_block{
        text-align: center;
        .buttons{
          
          justify-content: center;
        }
      }
    }
  }
}
@media(max-width:500px){
  .sixthSection_container {
    padding-inline: 27px;
    .sixSection_wrap {
      .left_block{
        .buttons{
          gap: 15px;
        }
      }
    }
  }
}